.checkout-block-container {
  font-size: 14px;
  display: flex;
  padding: 10px;
  text-align: center;
  width: 20%;
}
.delete-button {
  cursor: pointer;
}
.checkout-block-container div {
  padding: 0 5px;
  cursor: pointer;
}
.checkout-item-button {
  padding: 5px;
}
