.checkout-container {
  width: 80vw;
  padding: 30px;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.checkout-total-count {
  display: block;
  text-align: center;
  margin: 20px;
}

.checkout-button {
  position: fixed;
  top: 90%;
  left: 80%;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 40px;
}
